%div{ class: "bs-callout bs-callout-warning" , style: "margin-top: 0px;"}
  %i{ class: "icon-question-sign" }
    = raw "<b>IFrame Widget</b> allows the following customization and requirements:"
    %br
    = raw "<b>URL</b> - Represents the URL of the web document, that will be embeded."
