- if @widget.errors.blank? && @error.blank?
  $('#widget_modal').modal('hide');
  $('.modal-backdrop').remove();
  $("#widget_content_div").addClass('hidden');

  $("#widgets_table > tbody").append("#{j render partial: "widgets/widgets_table/widget", locals: {widget: @widget, dashboard: @widget.dashboard} }");

  $("#widgets_table td.current_number").each(function(index) {
  $(this).html(index + 1);
  });


  if($("#placeholder_tr")){
  $("#placeholder_tr").remove();
  $("#feed_button").removeClass("btn-warning").addClass("btn-success");
  }
  
  $(".flash-container-zone").html("#{j render partial: "shared/flash_notice", locals: {flash: flash}}").show().fadeOut(7000);

- elsif @error.present?
  $('.modal-content').waitMe("hide");
  $('#credential_errors').html("#{@error}");
  $('#credential_errors').removeClass('hidden');
