Repo: <b>#{widget.repository}</b>

- if widget.labels.present?
  %br
  Labels: <b>#{widget.labels}</b>

- if widget.filter.present?
  %br
  Filter: <b>#{widget.filter}</b>

- if widget.state.present?
  %br
  State: <b>#{widget.state}</b>
